
                        <header>
                            <h2>Random (Thoughts?)</h2>
                        </header>
                        <p class="text-justify">
                            Although I am working with VDX.TV, I do a lot of pet projects in my spare time. 
                            It can include anything. 
                            In these works, I gain a lot of experience. 
                            Links to such recent experiences are given below.
                        </p>
                        <ul class="link-list">
                            <li><a href="{% include function_finlink.html plink="bitch_glibc" %}">Glibc and problem of linux binary distribution</a></li>
                            {% if false%}
                            <li><a href="{% include function_finlink.html plink="port_to_windows" %}">Porting linux network progam to native windows</a></li>
                            {% endif %}
                        </ul>
