
                        <header>
                            <h2>Other links</h2>
                        </header>
                        <ul class="link-list">
                          {% assign lastYear = "" %}
{% assign pages_list_travel = site.wpages | where: "menutype", "travel" | where: "draft", false | sort: 'tripDate' | reverse %}
                            {% for node in pages_list_travel %}
                              {% if node.title != null %}
                                {% if node.menutype == "travel" %}
                                  {% assign curYear = node.path | split: "/" | slice: -2,1 %}
                                  {% if curYear != lastYear %}
                          <li><h3>{{ curYear }}</h3></li>
                                    {% assign lastYear = curYear %}
                                  {% endif %}
                          <li style="padding-left: 1em;"><a class="{% if page.url == node.url %} current{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a></li>
                                {% endif %}
                              {% endif %}
                            {% endfor %}
                        </ul>
