
	<head>
		<title>{% if page.title != "Home" %}{{page.title}} | {% endif %}Abhijit Mondal</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		{% if page.redirect %}
		 <meta http-equiv = "refresh" content = "0; url = {{ page.redirect }}" />
		{% endif %}
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/aux.css" />
		<link rel="stylesheet" href="https://raw.githubusercontent.com/jwarby/pygments-css/master/native.css" />

		<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
		{% if page.needPhotoSwipe %}
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/PhotoSwipe/photoswipe.css" />
		{% endif %}
	</head>
